@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /*1rem = a 10px*/
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-image: linear-gradient(to top, rgb(189, 184, 184) 0%, #fff);
}

h4 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/*---------------Inicio del header---------------*/
header {
  background-color: #212529;
  top: 2rem;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-brand span {
  transition: 0.5s linear;
}

.navbar-brand:hover span:nth-child(1) {
  margin-right: 5px;
}

.navbar-brand:hover span:nth-child(2) {
  content: " ";
}

.navbar-brand:hover span:nth-child(3) {
  margin-left: 5px;
}

.navbar-brand:hover span {
  color: #212529;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 3rem;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
}

/*---------------Fin del header---------------*/
/*----------------------Tutulo principal--------------------*/
.background-title {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 30vh;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Img/maza-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.background-title h1 {
  font-size: 18rem;
}

/*---------------Fin del titulo principal---------------*/
/*---------------Inicio del main---------------*/
h3 {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #000;
  margin: 2rem 0 2rem 2rem;
}

h5 {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  background-color: #212529;
}

.parr-text {
  font-size: 1.8rem;
  color: #212529;
  text-align: justify;
}

#carouselExampleFade {
  max-width: 600px;
  margin: 4rem auto 6rem;
}

#carouselExampleIndicators {
  max-width: 500px;
  margin: 4rem auto;
}

.img-align-container .parr-text {
  margin-left: 3rem;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-item, .carousel {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  transition: all 2s;
}

.img-item:hover {
  transform: scale(1.1);
}

.img-align-container {
  display: flex;
  justify-content: center;
}

.img-align {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.img-align-item {
  width: 40%;
  height: auto;
  margin: 0 3rem;
  padding-bottom: 2rem;
}

.parr-text-align {
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
  margin: 1rem 2rem;
}

/*-------------------- Inicio del Card --------------------*/
.card-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-items {
  background-color: transparent;
  border: none;
  position: relative;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.card-items .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card-items .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card-items .front img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.card-items .front h4 {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  color: #000;
  line-height: 4.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0));
}

.card-items .back {
  transform: perspective(600px) rotateY(180deg);
  background: #212529;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #fff;
}

.card-items .back h4 {
  letter-spacing: 1px;
}

.card-items:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-items:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*-------------------- Fin del Card --------------------*/
.card-img-top {
  width: 80%;
  height: auto;
  transition: all 2s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.text-parr {
  font-size: 1.5rem;
  text-align: justify;
}

/* ------------------- Fin del main ------------------------ */
/*---------------Inicio del footer---------------*/
h6 {
  font-size: 1.6;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  width: 70%;
  height: auto;
  padding: 1rem;
}

.footer-menu, .footer-menu-icon {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-menu .footer-menu-list {
  list-style: none;
}

.footer-menu .footer-menu-items {
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.container-fluid {
  padding: 1.5rem 0;
}

/*---------------Fin del footer---------------*/
.container {
  max-width: 114rem;
  margin: auto auto 0;
}

.navbar-brand {
  font-weight: bold;
  width: 80%;
  margin-left: 2rem;
  letter-spacing: 5px;
}

@media only screen and (min-width: 250px) and (max-width: 691.98px) {
  .navbar-brand {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .navbar-brand span {
    transition: 0.5s linear;
  }

  .navbar-brand:hover span:nth-child(1) {
    margin-right: 5px;
  }

  .navbar-brand:hover span:nth-child(2) {
    content: " ";
  }

  .navbar-brand:hover span:nth-child(3) {
    margin-left: 5px;
  }

  .navbar-brand:hover span {
    color: #000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  .background-title .pal-title {
    font-size: 5rem;
  }

  .card-container {
    display: flex;
    justify-content: center;
  }

  .card-items {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-items .face {
    width: 20rem;
    height: 25rem;
  }

  .img-align-container {
    align-items: center;
    flex-wrap: wrap;
  }

  .rp-audio {
    width: 50%;
    margin: 1rem 2rem;
  }

  .parr-text {
    font-size: 1.5rem;
    margin: 3rem 3rem;
  }

  .footer-menu .footer-menu-items {
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .text-muted {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 692px) and (max-width: 1139.98px) {
  .navbar-brand {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80%;
    margin-left: 2rem;
    letter-spacing: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .navbar-brand span {
    transition: 0.5s linear;
  }

  .navbar-brand:hover span:nth-child(1) {
    margin-right: 5px;
  }

  .navbar-brand:hover span:nth-child(2) {
    content: " ";
  }

  .navbar-brand:hover span:nth-child(3) {
    margin-left: 5px;
  }

  .navbar-brand:hover span {
    color: #000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  .background-title h1 {
    font-size: 12rem;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .img-align-container .img-item {
    margin: 1rem 2rem;
  }

  .rp-audio {
    width: 50%;
    margin: 1rem 2rem;
  }

  .parr-text {
    font-size: 1.5rem;
    margin: 2rem 2rem;
  }

  .img-align {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
