/*---------------Inicio del footer---------------*/
h6 {
    font-size: 1.6;
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);

}
.footer-container {
    margin-top: 3rem;
    display: map-get($perfil-second, display-second);
    justify-content: space-between;
    align-items: map-get($perfil-second, a-item-second);
}
.social-icon {
    width: 70%;
    height: auto;
    @include padding(1rem);
}
.footer-menu, .footer-menu-icon {
    padding-top: 2rem;
    display: map-get($perfil-second, display-second);
    flex-direction:  map-get($perfil-second, fd-second);
}
.footer-menu .footer-menu-list {
    list-style: none;
}
.footer-menu .footer-menu-items{
    text-decoration: none;
    color: $second-color;
    font-size: 1.7rem;
    padding: 0.5rem;
    display: map-get($perfil-second, display-second);
    flex-direction:  map-get($perfil-second, fd-second);
    @include padding (0.5rem);
}
.container-fluid {
    padding: 1.5rem 0;
}
/*---------------Fin del footer---------------*/