@import'../components/variables';
html{
    font-size: 62.5%;/*1rem = a 10px*/
}
body{
    font-family: 'Montserrat Alternates', sans-serif;;
    background-image:linear-gradient(to top, rgb(189, 184, 184) 0%, #fff);
}  
h4 {
    @include font(1.5rem);
    @include margin(2rem 0);
    color: red;
    font-weight: bold;
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
} 
/*---------------Inicio del header---------------*/
header{
    background-color: $thir-color;
    top: 2rem;
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
}
.container {
@extend %cont;
}
.navbar-brand {
    text-decoration: none;
    color: $primary-color;
    @include font(2rem);
    @extend %val-nav;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.navbar-brand span {
    transition: 0.5s linear;
}
.navbar-brand:hover span:nth-child(1) {
    margin-right: 5px;
}
.navbar-brand:hover span:nth-child(2){
    content:" ";
}
.navbar-brand:hover span:nth-child(3) {
    margin-left: 5px;
}
.navbar-brand:hover span {
    color: $thir-color;
    text-shadow:  
    0 0 10px $primary-color,
    0 0 20px $primary-color,
    0 0 40px $primary-color
    ;
}
.collapse {
    display: flex;
    justify-content: flex-end;
}
.nav-link {
    @include margin(0 3rem);
    @include font(1.8rem);
    color: $primary-color;
    text-decoration: none;
}
/*---------------Fin del header---------------*/
/*----------------------Tutulo principal--------------------*/
.background-title {
    text-align: center;
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
    flex-direction: map-get($perfil-second, fd-second);
    max-width: 100%;
    height: 30vh;
    color: $primary-color;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ) 
    ,url(../Img/maza-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.background-title h1 {
    @include font(18rem);
}
/*---------------Fin del titulo principal---------------*/