/*---------------Inicio del main---------------*/
h3 {
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    @include font(2rem);
    color: $second-color;
    @include margin(2rem 0 2rem 2rem);
}
h5 {
    @include font(2rem);
    font-weight: bold;
}
footer{
    background-color: $thir-color;
}
.parr-text {
    @include font(1.8rem);
    color: $thir-color;
    text-align: justify;  
}
#carouselExampleFade {
    max-width: 600px;
    @include margin(4rem auto 6rem);
}
#carouselExampleIndicators{
    max-width: 500px;
    @include margin(4rem auto); 
}
.img-align-container .parr-text{
    margin-left: 3rem;
}
.img-container{
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
    flex-wrap: map-get($perfil-one, f-wrap);
}
.img-item, .carousel { 
    width: 50% ;
    margin: 0 auto;
    @include padding(1rem);
    display: flex;
    transition: all 2s;
}
.img-item:hover {
    transform: scale(1.1);
}
.img-align-container {
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
}
.img-align {
    width: 100%;
    @include margin(auto);
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
}
.img-align-item {
    width: 40%;
    height: auto;
    @include margin(0 3rem);
    padding-bottom: 2rem;
}
.parr-text-align {
    @include font(1.5rem);
    color: $primary-color;
    text-align: justify;
    @include margin(1rem 2rem)  
}
.card-img-top {
    width: 80%;
    height: auto;
    transition: all 2s;
}
.card-img-top:hover {
    transform: scale(1.1);
}
.text-parr {
    @include font(1.5rem);
    text-align: justify;
}
/* ------------------- Fin del main ------------------------ */