@import '../components/variables';
/*---------------Inicio del main---------------*/
h3 {
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    @include font(2.5rem);
    color: $second-color;
    @include margin(2rem 0 2rem 2rem);
}
h5 {
    @include font(2rem);
    font-weight: bold;
}
footer{
    background-color: $thir-color;
}
.parr-text {
    @include font(1.8rem);
    color: $thir-color;
    text-align: justify;  
}
#carouselExampleFade {
    max-width: 600px;
    @include margin(4rem auto 6rem);
}
#carouselExampleIndicators{
    max-width: 500px;
    @include margin(4rem auto); 
}
.img-align-container .parr-text{
    margin-left: 3rem;
}
.img-container{
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
    flex-wrap: map-get($perfil-one, f-wrap);
}
.img-item, .carousel { 
    width: 50% ;
    margin: 0 auto;
    @include padding(1rem);
    display: flex;
    transition: all 2s;
}
.img-item:hover {
    transform: scale(1.1);
}
.img-align-container {
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
}
.img-align {
    width: 100%;
    @include margin(auto);
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
}
.img-align-item {
    width: 40%;
    height: auto;
    @include margin(0 3rem);
    padding-bottom: 2rem;
}
.parr-text-align {
    @include font(1.5rem);
    color: $primary-color;
    text-align: justify;
    @include margin(1rem 2rem)  
}
/*-------------------- Inicio del Card --------------------*/
.card-container {
    margin-bottom: 2rem;
    display: map-get($perfil-one, display-one);
    justify-content: map-get($perfil-one, jc-one);
    flex-wrap: map-get($perfil-one, f-wrap);
}
.card-items {
    background-color: transparent;
    border: none;
    position: relative;
    margin: 20px;
    width: 300px;
    height: 300px;
}
.card-items .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card-items .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow:  0 5px 10px $second-color;
}
.card-items .front img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
.card-items .front h4 {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    color: $second-color;
    line-height: 4.5rem;
    background:linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.1)
        rgba(0,0,0,0.0)
        );
}
.card-items .back{
    transform: perspective(600px) rotateY(180deg);
    background: $thir-color;
    padding: 1.5rem;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px $primary-color;
}
.card-items .back h4 {
    letter-spacing: 1px;
}
.card-items:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card-items:hover .back {
    transform: perspective(600px) rotateY(360deg);
} 
/*-------------------- Fin del Card --------------------*/
.card-img-top {
    width: 80%;
    height: auto;
    transition: all 2s;
}
.card-img-top:hover {
    transform: scale(1.1);
}
.text-parr {
    @include font(1.5rem);
    text-align: justify;
}
/* ------------------- Fin del main ------------------------ */